@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

:root {
    --clr-bc: hsl(0, 0%, 35%);
    --clr-primary: hsl(0, 0%, 0%);
    --clr-secondary: hsl(0, 0%, 100%);

    --ff-title: "Fredoka", sans-serif;
    --ff-main: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-family: var(--ff-main);
    color: var(--clr-txt);
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: var(--clr-bc);
}
